body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid #000000;
    border-radius: 20%;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #5ca6bd;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #14b9e7;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: white;
}